@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
}

.accueil__main {
  padding: 0 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  text-align: center;
  box-shadow: 0 0px 8px grey;
  padding: 25px;
  position: relative;
}

#logo img {
  width: 250px;
}

.ville_barre {
  display: flex;
  background-color: rgba(241, 241, 241, 0.945);
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 25px;
  color: rgb(49, 49, 49);
}
.ville_barre .fa-solid.fa-location-dot {
  font-size: 25px;
}
.ville_barre .ville_titre {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

@keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.recherche {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.recherche h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 40px;
}
.recherche p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn_explorez {
  margin-bottom: 80px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  height: 65px;
  border-radius: 50px;
  padding: 16px 32px;
  transition: all 0.2s;
  border: none;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  box-shadow: 0 3px 16px -4px black;
}
.btn_explorez:hover {
  opacity: 0.95;
  transform: scale(1.02);
  transition: all 0.2s;
  cursor: pointer;
}

.fonctionnement {
  counter-reset: etapes;
  margin-bottom: 80px;
  font-family: "Roboto", sans-serif;
}
.fonctionnement ol {
  display: flex;
  gap: 32px;
}
.fonctionnement li {
  background-color: #f5f5f5;
  padding: 20px 32px;
  flex-grow: 1;
  border-radius: 16px;
  list-style-type: none;
  position: relative;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.2s;
  box-shadow: 0 3px 16px -4px black;
}
.fonctionnement li:hover {
  transform: scale(1.02);
  transition: all 0.2s;
  cursor: pointer;
  background-color: rgba(206, 90, 173, 0.137);
}
.fonctionnement li::before {
  content: counter(etapes);
  display: grid;
  counter-increment: etapes;
  background-color: #9356dc;
  color: white;
  width: 35px;
  height: 35px;
  place-items: center;
  border-radius: 50px;
  position: absolute;
  left: -15px;
  top: 14px;
}
.fonctionnement_i {
  margin-right: 16px;
  color: rgb(131, 131, 131);
  font-size: 20px;
}
.fonctionnement h2 {
  margin-bottom: 35px;
}

.menu {
  background-color: rgb(231, 231, 231);
  margin-bottom: 32px;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
}
.menu__carte {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  padding: 16px;
}
.menu__carte .nouveau {
  position: relative;
}
.menu__carte .nouveau::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99e2d0;
  font-size: 15px;
  padding: 7px;
  color: #1b6150;
  font-weight: 600;
  border-radius: 3px;
  right: 9px;
  top: 10px;
}
.menu h2 {
  margin-bottom: 32px;
  padding: 25px 0 0 25px;
}
.menu .restaurant {
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  box-shadow: 0 3px 16px -4px black;
}
.menu .restaurant:hover {
  transform: scale(1.02);
  transition: all 0.2s;
  cursor: pointer;
}
.menu .restaurant__img {
  background-size: cover;
  height: 15rem;
}
.menu .restaurant__img1 {
  background-image: url("../../images/restaurants/menu1.jpg");
}
.menu .restaurant__img2 {
  background-image: url("../../images/restaurants/menu2.jpg");
}
.menu .restaurant__img3 {
  background-image: url("../../images/restaurants/menu3.jpg");
}
.menu .restaurant__img4 {
  background-image: url("../../images/restaurants/menu4.jpg");
}
.menu .restaurant__description {
  position: relative;
}
.menu .restaurant__description h3,
.menu .restaurant__description p {
  margin: 8px;
}
.menu .restaurant__description h3 {
  padding-top: 8px;
  font-size: 22px;
}
.menu .restaurant__description p {
  font-size: 17px;
}
.menu .restaurant__description i {
  position: absolute;
  font-size: 26px;
  right: 16px;
  bottom: 11px;
}
.menu .restaurant__description .fa-solid.fa-heart {
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  opacity: 0;
  -webkit-background-clip: text;
  transition: ease-out 0.2s;
  position: absolute;
  font-size: 26px;
}
.menu .restaurant__description .fa-solid.fa-heart:hover {
  opacity: 1;
  transform: scale(1.1);
}

footer {
  color: white;
  background-color: rgb(51, 51, 51);
  padding: 24px 32px;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}
footer a {
  display: flex;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
footer a:hover {
  text-decoration: underline;
}
footer .fa-utensils {
  margin-right: 10px;
}
footer .fa-handshake-angle {
  margin-right: 10px;
}

.resto1_main {
  background-color: rgb(231, 231, 231);
}

.retour {
  position: relative;
}
.retour .fa-solid.fa-arrow-left {
  position: absolute;
  font-size: 30px;
  color: rgb(66, 66, 66);
  left: 36px;
  top: -64px;
  transition: all 0.4s;
}
.retour .fa-solid.fa-arrow-left:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}

.like_barre {
  position: relative;
  border-radius: 32px 32px 0 0;
  background-color: rgb(231, 231, 231);
}
.like_barre i {
  position: absolute;
  font-size: 26px;
  right: 16px;
  bottom: 36px;
}

.resto_titre {
  font-family: "Shrikhand", sans-serif;
  padding: 32px 16px;
  font-size: 30px;
  font-weight: 500;
}

.resto_img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  margin-bottom: -30px;
}

.fa-solid.fa-heart {
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  opacity: 0;
  -webkit-background-clip: text;
  transition: ease-out 0.2s;
  position: absolute;
  font-size: 26px;
  cursor: pointer;
}
.fa-solid.fa-heart:hover {
  opacity: 1;
  transform: scale(1.1);
}

.menu1 {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 16px;
  gap: 16px;
  overflow: hidden;
}
.menu1__indiv {
  overflow: hidden;
  animation: apparition 1s;
}
.menu1 .delai_1 {
  animation-delay: 0s;
}
.menu1 .delai_2 {
  animation-delay: 0.2s;
}
.menu1 .delai_3 {
  animation-delay: 0.3s;
}
.menu1__item {
  display: flex;
  background-color: white;
  cursor: pointer;
  border-radius: 16px;
  margin-bottom: 16px;
  animation-fill-mode: both;
  box-shadow: 2px 3px 5px -4px black;
}
.menu1__item:hover .menu1__hover {
  margin-right: 0;
}
.menu1__item:hover .fa-solid.fa-check {
  animation: check_spin 0.7s ease;
}
@keyframes check_spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.menu1__prix {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 500;
  padding: 16px;
}
.menu1__description {
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu1__description h4,
.menu1__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu1__hover {
  display: grid;
  place-items: center;
  background-color: #99e2d0;
  margin-right: -60px;
  width: 60px;
  border-radius: 0 16px 16px 0;
  transition: all 0.5s;
  flex-shrink: 0;
}
.menu1 .fa-solid.fa-check {
  color: #99e2d0;
  background-color: white;
  padding: 5px;
  border-radius: 50px;
}
.menu1 h3 {
  font-weight: 400;
  position: relative;
  margin-bottom: 20px;
}
.menu1 h3::after {
  content: "";
  position: absolute;
  background-color: #99e2d0;
  height: 4px;
  width: 46px;
  top: 26px;
  left: 1px;
}

.commander {
  display: grid;
  place-items: center;
  height: 200px;
}
.commander__btn {
  width: 300px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  height: 65px;
  border-radius: 50px;
  padding: 16px 32px;
  transition: all 0.2s;
  border: none;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  box-shadow: 0 3px 16px -4px black;
}
.commander__btn:hover {
  opacity: 0.95;
  transform: scale(1.02);
  transition: all 0.2s;
  cursor: pointer;
}

@media (max-width: 768px) {
  .accueil__main {
    padding: 16px;
  }

  .fonctionnement ol {
    flex-direction: column;
  }

  .menu__carte {
    grid-template-columns: 1fr;
  }

  .menu1 {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
