@media (max-width: 768px) {
  .accueil__main {
    padding: 16px;
  }

  .fonctionnement ol {
    flex-direction: column;
    padding: 16px;
  }

  .menu {
    margin: 0 -16px -14px -16px;
    border-radius: 0;
  }

  .menu__carte {
    grid-template-columns: 1fr;
  }
  .menu1 {
    grid-template-columns: 1fr;
  }
}
