@media (max-width: 957px) {
    .accueil__main{
        padding: 16px;
    }

    .fonctionnement ol{
        flex-direction: column;
    }
    
    .menu1{
        grid-template-columns: 1fr;
    }
}